* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: 1px black solid;
}

body {
  height: 100vh;
  background-color: beige;
}

h1 {
  text-align: center;
}

#game {
  width: 60rem;
  height: 50rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  perspective: 1000px;
}

.card {
  flex: 1 1 12.5rem;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s ease;
}

.card.flip {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
}

.cardFront {
  transform: rotateY(180deg);
}
