* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: lightsteelblue;
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 6rem;
}

#game {
  width: 60rem;
  height: 50rem;
  margin: auto;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  perspective: 62.5rem;
}

.card {
  flex: 1 1 12.5rem;
  margin: 1rem;
  cursor: pointer;
  box-shadow: 0.3rem 0.3rem;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 1s ease;
  position: relative;
}

.card.flip {
  transform: rotateY(180deg);
}

.cardFront,
.cardBack {
  backface-visibility: hidden;
}

.cardFront {
  transform: rotateY(180deg);
  background-color: white;
  height: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-size: 8rem;
}

.cardBack {
  height: 100%;
  width: 100%;
  position: absolute;
}
